#main-navbar {
  background-color: rgb(85, 230, 112);
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

#main-navbar ul li a:hover {
  background-color: rgb(53, 135, 24);
  
}

/* food page css */
img {
  min-height: 50px;
  min-width: 75px;
  max-height: 100px;
  max-height: 150px;
}

img :hover {
  width: 200px;
  height: 300px;
}